
#define HM_TAPPING_TERM 300
#define HM_TAPPING_TERM_FAST 200
#define HM_PRIOR_IDLE 150
#define HM_QUICK_TAP 125

/ {

       behaviors{
            bLhm: right_balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap"; 
            #binding-cells = <2>; 
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;    // <---[[moderate duration]]
            quick-tap-ms = <HM_QUICK_TAP>; 
            require-prior-idle-ms = <HM_PRIOR_IDLE>; 
            flavor = "balanced"; 
            bindings = <&kp>, <&kp>;
        };

            bRhm: left_balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;    // <---[[moderate duration]]
            quick-tap-ms = <HM_QUICK_TAP>;
            require-prior-idle-ms = <HM_PRIOR_IDLE>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };

            lt {
            flavor = "balanced";
            tapping-term-ms = <HM_TAPPING_TERM_FAST>;
            quick-tap-ms = <HM_QUICK_TAP>;
        };  
    };
};